#box{
    width:  500px;
    height: 50px;
    background-color: white;
    color: pink;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#pic{
    width:200px;
    height: 200px;
    border: 2px solid pink;
    padding: 2px;
}

#pic:hoover{   
    transform:rotateZ(20deg);
}
    
