#box{
    width:  1000px;
    height: 200px;
    background-color: pink;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pic img{
      height: 200px;
      border: 2px solid black;
      padding: 2px;
}
#pic:hover img {
  transform:rotateZ(20deg);
}
